<div id="contest_table"> 
    <table bgcolor="lightgrey" align="center" > 
        <caption align="top"> 
        </caption>
        <thead></thead>
        <tr>
        <th><h4 align="center" style="color: #0074d9;">&#10094;</h4></th>
        <th></th>
        <th><h2 align="center" style="color: #0074d9;"> 
            {{ .MonthName }}  {{ .Year }}
        </h2> </th>
        <th></th>
        <th><h4 align="center" style="color: #0074d9;">&#10095;</h4></th>
        </tr>
    </table>
  
    <table bgcolor="lightgrey" align="center" 
        cellspacing="21" cellpadding="21" overflow="hidden" width="90%" table-layout="fixed" border-collapse="collapse" > 
        <caption align="top"> 
        </caption> 
        <thead> 
            <tr>
                <th style="color: white; background: #0074d9;"> 
                    Sun</th> 
                <th style="color: white; background: #0074d9;"> 
                    Mon</th> 
                <th style="color: white; background: #0074d9;"> 
                    Tue</th> 
                <th style="color: white; background: #0074d9;"> 
                    Wed</th> 
                <th style="color: white; background: #0074d9;"> 
                    Thu</th> 
                <th style="color: white; background: #0074d9;"> 
                    Fri</th> 
                <th style="color: white; background: #0074d9;"> 
                    Sat</th> 
            </tr> 
        </thead> 
      <tbody> 
        {{ range .MonthContent.Weeks }}
        <tr>
          {{ range .Days }}
          <td
            font-weight="bold" overflow="hidden" width="10%" height="10%"> 
            <h2>{{ .Date }}</h2>
            <ul>
              {{ range .Contests }}
              <li><a href="{{ getUrl . }}">{{ getName . }}</a></li>
              {{ end }}
            </ul>
          </td>
          {{ end }}
        </tr> 
        {{ end }}
      </tbody> 
    </table> 
  </div> 
